<% if meetings.present? %>
  <div class="conference__program-item">
    <div class="conference__program-time">
      <%= start_time.to_fs(:time) %> - <%= end_time.to_fs(:time) %>
    </div>
    <div>
      <% taxonomies = meetings.map(&:taxonomies).uniq %>
      <% seed = SecureRandom.hex(3).to_s %>
      <% if taxonomies.present? %>
        <ul class="conference__program-taxonomy-container">
          <% taxonomies.each do |taxonomy| %>
            <li>
              <div class="conference__program-taxonomy">
                <%= taxonomy.first.present? ? translated_attribute(taxonomy.first.name) : t(".other_category") %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% meetings.group_by(&:taxonomies).each do |taxonomies_block| %>
        <div class="conference__program-taxonomy-content">
          <% taxonomies_block.last.each do |meeting| %>
            <%= render partial: "program_meeting", locals: { meeting: } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
