<% add_decidim_page_title(t("members", scope: "decidim.participatory_space_members.index")) %>
<% add_decidim_meta_tags(
     title: translated_attribute(current_participatory_space.title),
     resource: current_participatory_space) %>
<%
edit_link(
  decidim_admin_assemblies.members_path(current_participatory_space.slug),
  :update,
  :assembly,
  assembly: current_participatory_space
)
%>

<%= render layout: "layouts/decidim/shared/layout_center", locals: { columns: 10 } do %>
  <header class="text-center py-10">
    <h1 class="title-decorator inline-block text-left mb-12">
      <%= t("members", scope: "decidim.participatory_space_members.index") %>
    </h1>
  </header>

  <section class="layout-main__section">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-12">
      <%= render(collection) %>
    </div>
  </section>
<% end %>
